<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webtest.dao.admin.AdminBookMapper">

    <!-- 查找所有书籍 -->
    <select id="getAllBook" resultType="book">
        select id,name,auth,book_id,count
        from test_book
        ORDER BY id
    </select>
    
    <select id="searchBookByIdOrName" resultType="book">
        <bind name="pattern" value="'%' + name + '%'" />
        select id,name,auth,book_id,count
        from test_book
        <where>
            <if test="bookId != null and bookId != ''">
                book_id = #{bookId}
            </if>
            <if test="name != null and name != ''">
                and name like #{pattern}
            </if>
        </where>
        ORDER BY id
    </select>

    <select id="findBookById" resultType="book">
        select * from test_book where id = #{id}
    </select>

    <select id="findBookByName" resultType="book">
        select * from test_book where name = #{name}
    </select>

    <insert id="insertBook" parameterType="book">
        insert into test_book(id,name,auth,book_id,count)
        values (#{id},#{name},#{auth},#{bookId},#{count})
    </insert>

    <update id="updateBook" parameterType="book">
        update test_book
        set name=#{name},auth=#{auth},book_id=#{bookId},count=#{count}
        where id=#{id}
    </update>

    <select id="findMaxBookId" resultType="int">
        select book_id from test_book order by book_id desc limit 1
    </select>
    
    <delete id="deleteBookById">
        delete from test_book where id = #{id}
    </delete>
</mapper>